  
@charset "UTF-8";
body {
	background-color: #00394d;
        font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #A4C4D9;
    font: 'Montserrat';
    font-size: 1.1rem;
    height: auto;
    align-items: center;
    border-radius:0.0rem;
    padding:0.50rem;
    margin: auto;
    text-align: center;
    box-shadow: 0 2px 15px lightgray;
    
}
box  {
  width: 180px;
  border: 0px;
  padding: 20px;
  height: 150px;
  margin-right: 10px;
}

img {
	padding: 9px;
	filter: blur(0em);
	transition: filter 0.5s;
	}

img[data-src] {
filter: blur(0.05em);
}

header,
nav,
main,
footer {
    	font: 'Montserrat';
    	height: auto;
    	align-items: center;
    	border-radius:0.0rem;
    	padding:0.75rem;
    	margin: 0 auto;
    	text-align: center;
	max-width: 767px;
	margin: 0 auto;
}
figure {
  background: #007399;
}

figcaption {
  color: #bbb;
}

h1 {
	font-size: 4rem;
  color: #fff;
}
h2 {
	color: #B55800;
}

nav {
  display: flex;
  justify-content: center;
  background-color: gray;
	text-align: center;
	box-shadow: 0 2px 15px gray;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 0.95rem;
}

nav a:hover {
	background-color: #bbb;
	color: black;
}

.header {
 display: grid;
}

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
grid-gap: 10px;
justify-content: center;
}

.container {
display: grid;
grid-template: 	
grid-gap:
position: relative;
}

.active {
	color: yellow;
}

footer {
  display: block;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-family: 'Montserrat';
	font-size: 0.95rem;
	flex: 0 1 100%;
	height: .5rem;
  color: grey;
}

/* Tablet Views */
@media only screen and (min-width: 37.5em) {

	nav ul { 
	display: flex;
        justify-content: center;
				/* grid-template-columns: repeat(5, 1fr); */
	grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	}
	
	nav a {
	font-size: 1rem;
	}
		
	header picture img {
	width: 100%;
	height: auto;
	border: 1px solid #bbb;
	}
}

/* Desktop Views */
@media only screen and (min-width: 60em) {
	nav a {
	font-size: 1.1rem;
	}
	main {
	grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
	grid-column: span 1;
	}
}
#color{
	background-color:rgb(101, 111, 167);
}
#color2{
	background-color: grey;
	color: light blue;

}
#color3 {
	background-color: #bbb;
	color: #36454f;
}
