body {
}

main {
}

h2 {
}

main {
  display: grid;
  grid-template-columns lfr;
  font-size: 0.8rem;
}
main section {}
main picture {}
.colimage {}


/* medium */
@media only screen and (min-width: 37.5em) {
  main {
    grid-template-columns: lfr lfr;
  }
  section:nth-child(3) {
    grid-column: span 2
  }
  main picture {}
  main section picture img {}
}

/* large */
@media only screen and (min-width: 60em) {
  main {
    grid-template-columns: lfr lfr lfr;
  }
  section:nth-child(3) {
    grid-column: span 1
  }
  main picture {}
  main section picture img {}
}
