@charset "UTF-8";
body {
	color: white;
	font-size: 16px;
        font-family: 'Montserrat', sans-serif;
	background-color: gray;
}

main {
	max-width: 600px;
	margin: 0 auto;
        display: flex;
	flex-direction: column;
	align-items: center;
    	border-radius:0.0rem;
    	padding:0.75rem;
}

img {
	padding: 5px;
	filter: blur(0em);
	transition: filter 0.5s;
	}

img[data-src] {
filter: blur(0.05em);
}
